### Practica 2 Bloque 4
Lara Ocón Madrid - 202115710

In [63]:
# Para este practica vamos a crear un excel con un reporte ejecutivo de la pizzeria Maven Pizzas
# Para ello, empleamos la libreria openpyxl

In [64]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference

In [127]:
df_pizzas_semana = pd.read_csv('ficheros_csv/pizzas_semana.csv').rename(columns={'Unnamed: 0': 'semana'}).set_index('semana')
df_pizzas_semana.head()

,bbq_ckn,cali_ckn,ckn_alfredo,ckn_pesto,southw_ckn,thai_ckn,big_meat,classic_dlx,hawaiian,ital_cpcllo,...,spinach_supr,five_cheese,four_cheese,green_garden,ital_veggie,mediterraneo,mexicana,spin_pesto,spinach_fet,veggie_veg
semana,,,,,,,,,,,,,,,,,,,,,
0,29.0,12.5,2.5,10.5,19.0,25.0,12.0,23.0,18.0,17.0,...,13.0,18.0,14.5,6.5,7.5,7.0,19.5,6.0,8.0,11.5
1,58.0,65.0,49.0,28.5,38.5,64.0,34.0,63.5,63.5,33.5,...,27.0,60.0,64.0,24.0,27.0,19.5,37.0,28.0,43.0,38.5
2,61.5,55.0,15.5,27.0,68.5,58.5,22.0,46.0,42.0,30.5,...,26.0,54.0,47.5,13.0,22.0,19.5,47.0,29.5,45.5,45.5
3,73.5,83.0,22.0,25.0,36.5,65.5,35.0,49.0,60.0,34.5,...,18.0,58.0,68.5,20.0,36.5,25.5,34.5,20.0,37.0,42.0
4,79.0,46.0,28.5,21.5,35.0,61.5,25.0,53.5,47.0,38.0,...,17.0,42.0,54.5,14.5,31.0,22.0,57.5,25.0,34.5,32.5

In [119]:
"""
df_pizzas_semana = pd.read_csv('ficheros_csv/pizzas_semana.csv')
df_pizzas_semana = df_pizzas_semana.rename(columns={'Unnamed: 0': 'semana'}).set_index('semana').transpose()
df_pizzas_semana.columns = [i for i in range(53)]
df_pizzas_semana.head()
"""

"\ndf_pizzas_semana = pd.read_csv('ficheros_csv/pizzas_semana.csv')\ndf_pizzas_semana = df_pizzas_semana.rename(columns={'Unnamed: 0': 'semana'}).set_index('semana').transpose()\ndf_pizzas_semana.columns = [i for i in range(53)]\ndf_pizzas_semana.head()\n"

In [137]:
tabla_pivote = df_pizzas_semana.pivot_table(index = 'semana')

In [134]:
tabla_pivote.to_excel('ingredientes2016.xlsx', startrow=4, sheet_name='Reporte')

In [135]:
wb = load_workbook('ingredientes2016.xlsx')
pestaña = wb['Reporte'] # con esto identificamos la hoja

min_col = wb.active.min_column
max_col = wb.active.max_column
min_row = wb.active.min_row
max_row = wb.active.max_row

print(min_col, max_col, min_row, max_row)

1 33 5 58

# Añadir grafico

In [136]:
barchart = BarChart()

# le decimos que la data esta en esa pestaña, y le indicamos de donde a donde está
data = Reference(pestaña, min_col=min_col + 1, max_col=max_col, min_row=min_row, max_row=max_row)
# solo cogemos las categorias (la columna es la misma)
categorias = Reference(pestaña, min_col=min_col, max_col=min_col, min_row=min_row + 1, max_row=max_row)

barchart.add_data(data, titles_from_data=True)

barchart.set_categories(categorias)

pestaña.add_chart(barchart, 'AI34') # le decimos que añada el barchart a la pestaña, y le decimos donde ponerlo
barchart.title = 'Pizzas pedidas' # titulo
barchart.style = 5

wb.save('ingredientes2016.xlsx')

In [ ]:
# vamos a hacer u n grafico para la pizza mas pedida

### Aqui lo que he hecho por mi cuenta

In [69]:
# queremos que le indice sean las pizzas
# vamos a cambiarle el nombre a la columna Unamed: 0 por pizza
df_pizzas_semana = pd.read_csv('ficheros_csv/pizzas_semana.csv')
df_pizzas_semana = df_pizzas_semana.rename(columns={'Unnamed: 0': 'pizza'})
df_pizzas_semana = df_pizzas_semana.set_index('pizza').transpose()
df_pizzas_semana.head()

pizza,bbq_ckn,cali_ckn,ckn_alfredo,ckn_pesto,southw_ckn,thai_ckn,big_meat,classic_dlx,hawaiian,ital_cpcllo,...,spinach_supr,five_cheese,four_cheese,green_garden,ital_veggie,mediterraneo,mexicana,spin_pesto,spinach_fet,veggie_veg
semana 0,29.0,12.5,2.5,10.5,19.0,25.0,12.0,23.0,18.0,17.0,...,13.0,18.0,14.5,6.5,7.5,7.0,19.5,6.0,8.0,11.5
semana 1,58.0,65.0,49.0,28.5,38.5,64.0,34.0,63.5,63.5,33.5,...,27.0,60.0,64.0,24.0,27.0,19.5,37.0,28.0,43.0,38.5
semana 2,61.5,55.0,15.5,27.0,68.5,58.5,22.0,46.0,42.0,30.5,...,26.0,54.0,47.5,13.0,22.0,19.5,47.0,29.5,45.5,45.5
semana 3,73.5,83.0,22.0,25.0,36.5,65.5,35.0,49.0,60.0,34.5,...,18.0,58.0,68.5,20.0,36.5,25.5,34.5,20.0,37.0,42.0
semana 4,79.0,46.0,28.5,21.5,35.0,61.5,25.0,53.5,47.0,38.0,...,17.0,42.0,54.5,14.5,31.0,22.0,57.5,25.0,34.5,32.5

In [70]:
# vamos a pasar esta tabla a un tabla dentro de un excel
tabla = openpyxl.Workbook()
hoja = tabla.active
# ponemos el nombre de las columnas
columnas = ['Semana']
columnas.extend(df_pizzas_semana.columns)
# columnas.append(list(df_pizzas_semana.columns))
# añado dos lines en blanco
hoja.append([])
hoja.append([])
hoja.append(columnas)
pizzas = list(df_pizzas_semana.index)
print(pizzas)


for i in range(53):
    cantidades = [f'semana {i}']
    for pizza in df_pizzas_semana.columns:
        cantidades.append(float(df_pizzas_semana.loc[f'semana {i}', pizza]))
    hoja.append(cantidades)
    #pizza = pizzas[i]
    #print([pizza]+cantidades)
    #hoja.append([pizza]+cantidades)
print(cantidades)
# guardamos el excel

tabla.save('reporte_ejecutivo.xlsx')

['semana 0', 'semana 1', 'semana 2', 'semana 3', 'semana 4', 'semana 5', 'semana 6', 'semana 7', 'semana 8', 'semana 9', 'semana 10', 'semana 11', 'semana 12', 'semana 13', 'semana 14', 'semana 15', 'semana 16', 'semana 17', 'semana 18', 'semana 19', 'semana 20', 'semana 21', 'semana 22', 'semana 23', 'semana 24', 'semana 25', 'semana 26', 'semana 27', 'semana 28', 'semana 29', 'semana 30', 'semana 31', 'semana 32', 'semana 33', 'semana 34', 'semana 35', 'semana 36', 'semana 37', 'semana 38', 'semana 39', 'semana 40', 'semana 41', 'semana 42', 'semana 43', 'semana 44', 'semana 45', 'semana 46', 'semana 47', 'semana 48', 'semana 49', 'semana 50', 'semana 51', 'semana 52']
['semana 52', 41.0, 38.5, 12.5, 16.5, 31.0, 51.5, 23.0, 44.5, 42.5, 34.0, 27.5, 23.5, 34.0, 29.5, 5.0, 18.0, 30.5, 25.0, 25.0, 29.5, 16.5, 33.5, 12.5, 24.0, 59.5, 11.5, 11.5, 11.5, 28.0, 21.5, 18.0, 40.5]

In [71]:
"""
# vamos a crear una tabla pivote que muestre la resta de ingredientes necesitados y predichos
df_concat = pd.concat([df_ingredientes_semana, df_predicciones], axis=0)
df_concat = df_concat.iloc[-1] - df_concat.iloc[:-1]
tabla_diferencia = df_concat.pivot_table(indes=df_concat.index, columns=df_ingredientes_semana.values, aggfunc='sum')
"""

"\n#\xa0vamos a crear una tabla pivote que muestre la resta de ingredientes necesitados y predichos\ndf_concat = pd.concat([df_ingredientes_semana, df_predicciones], axis=0)\ndf_concat = df_concat.iloc[-1] - df_concat.iloc[:-1]\ntabla_diferencia = df_concat.pivot_table(indes=df_concat.index, columns=df_ingredientes_semana.values, aggfunc='sum')\n"